<p id="notice"><%= notice %></p>

<h1>Projes</h1>

<table>
  <thead>
    <tr>
      <th>Marka</th>
      <th>Urun</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projes.each do |proje| %>
      <tr>
        <td><%= proje.marka %></td>
        <td><%= proje.urun %></td>
        <td><%= link_to 'Show', proje %></td>
        <td><%= link_to 'Edit', edit_proje_path(proje) %></td>
        <td><%= link_to 'Destroy', proje, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proje', new_proje_path %>
